body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Text input/display area of time blocks */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Page Header */
.jumbotron {
  text-align: center;
  background-color: grey;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom: 0px;
}

/* Formatting for status display when saving data to local storage */
#info {
  height: 32px;
  text-align: center;
  padding: 5px;
  color:rgb(0, 157, 58)
}

/* Formatting for clear schedule button */
#clearSchedule {
  background-color: Red;
  color: white;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: 1rem;
}

#clearSchedule:hover, #clearSchedule:focus {
  box-shadow: 0 0 10px black inset, 5px 5px 5px black;
}

#clearSchedule:active {
  font-size: 1.1rem;
}

.description {
  white-space: pre-wrap;
}

/* Each block of time in the scheduler */
.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* Hour display for time blocok */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* past tense schedule items */
.past {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

/* current schedule item */
.present {
  background-color: #ff6961;
  color: rgb(0, 0, 0);
}

/* future schedule items */
.future {
  background-color: #77dd77;
  color: rgb(0, 0, 0);
}

/* Save button for storing schedule info in Local Storage */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
